In [4]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import re
import scipy.stats as stats

In [5]:
%cd C:\Users\DELL\Downloads\Basic Statistics - Hypothesis Testing

C:\Users\DELL\Downloads\Basic Statistics - Hypothesis Testing

In [6]:
loan=pd.read_csv("LoansData.csv")
treatment=pd.read_csv("Treatment_Facility.csv")
priority_assessment=pd.read_csv("Priority_Assessment.csv")
price=pd.read_csv("Price_Quotes.csv")
films=pd.read_csv("Films.csv")

In [7]:
loan["Debt_To_Income_Ratio"]=loan["Debt_To_Income_Ratio"].str.replace("%","").astype(float)
loan["Fico_avg"]=(pd.to_numeric(loan.FICO_Range.str.split('-', expand=True)[0]) + pd.to_numeric(loan.FICO_Range.str.split('-', expand=True)[1]))/2

In [8]:
loan["Interest_Rate"]=loan["Interest_Rate"].str.replace("%","").astype(float)

In [9]:
def missing_treat(x):
    if ((x.dtype=='float') or (x.dtype=='int')):
        x = x.fillna(x.median())
    elif x.dtype == 'object':
        x = x.fillna(x.mode()[0])
    else:
        x
    return(x)

In [10]:
loan=loan.apply(missing_treat)

In [12]:
loan.Home_Ownership.unique()

array(['MORTGAGE', 'RENT', 'OWN', 'OTHER', 'NONE'], dtype=object)

# BUSINESS PROBLEM-1

### a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

### stage:1
Null Hypothesis,H0 : There is no significant relationship between Interest rate and Loan Amounts

Alternative Hypothesis,H1 : There is significant relationship between Interest rate and Loan Amounts

In [11]:
stats.pearsonr(loan.Amount_Requested,loan.Interest_Rate)

(0.33244017434012263, 1.4231505725301343e-65)

#### stage 4 - conclusion
As pvalue is less than 0.05 and r value is positive ,we can reject H0 and accept H1,therefore Interest Rate varies directly with different Loan Amounts.

## b. Loan length is directly effecting intrest rate.

stage:1

Null Hypothesis,H0  : month_36.Interest_Rate == month_60.Interest_Rate

Alternative Hypothesis,H1 : month_36.Interest_Rate <> month_60.Interest_Rate

In [12]:
month_36=loan[loan.Loan_Length=="36 months"]
month_60=loan[loan.Loan_Length=="60 months"]
stats.f_oneway(month_36.Interest_Rate,month_60.Interest_Rate)

F_onewayResult(statistic=548.0367191411436, pvalue=9.605991607837365e-110)

In [33]:
films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,2,2,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,2,1,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,1,2,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,2,2,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,2,2,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,2,2,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,2,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,2,2,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

conclusion-  As there is effect in intrest rate on changing the loan length,we reject the null hypothesis

## c. Intrest rate varies for different purpose of loans

#### stage:1
Null Hypothesis,H0 : Interest rate does not vary with loan purpose.

Alternative Hypothesis,H1 :Interest rate varies with loan purpose.

In [13]:
dc=loan.Interest_Rate[loan.Loan_Purpose=='debt_consolidation']
cc=loan.Interest_Rate[loan.Loan_Purpose=='credit_card']
oth=loan.Interest_Rate[loan.Loan_Purpose=='other']       
mov=loan.Interest_Rate[loan.Loan_Purpose=='moving']
car=loan.Interest_Rate[loan.Loan_Purpose=='car']
vaca=loan.Interest_Rate[loan.Loan_Purpose=='vacation']
home_im=loan.Interest_Rate[loan.Loan_Purpose=='home_improvement']
house=loan.Interest_Rate[loan.Loan_Purpose=='house']
ma_pu=loan.Interest_Rate[loan.Loan_Purpose=='major_purchase']
edu=loan.Interest_Rate[loan.Loan_Purpose=='educational']
medi=loan.Interest_Rate[loan.Loan_Purpose=='medical']
weddin=loan.Interest_Rate[loan.Loan_Purpose=='wedding']
small_bus=loan.Interest_Rate[loan.Loan_Purpose=='small_business']

In [14]:
stats.f_oneway(dc,cc,oth,mov,car,vaca,home_im,house,ma_pu,edu,medi,weddin,small_bus)

F_onewayResult(statistic=7.901182879604524, pvalue=1.1636926239581812e-14)

as p value is less than 0.05, we reject the null hypothesis, there is effect in intrest rate

## d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

#### stage:1
Null Hypothesis,H0 : There is no significant relationship between FICO Scores and Home Ownership.

Alternative Hypothesis,H1 :There is a significant relationship between FICO Scores and Home Ownership.

In [15]:
a=loan.Fico_avg[loan.Home_Ownership=="MORTGAGE"]
b=loan.Fico_avg[loan.Home_Ownership=="RENT"]
c=loan.Fico_avg[loan.Home_Ownership=="OWN"]
d=loan.Fico_avg[loan.Home_Ownership=="OTHER"]
e=loan.Fico_avg[loan.Home_Ownership=="NONE"]

In [16]:
stats.f_oneway(a,b,c,d,e)

F_onewayResult(statistic=19.345822938089942, pvalue=1.0902432079019346e-15)

 conclusion - as p value is less than 0.05, we reject the null hypothesis, there is relation between fico score and home ownership

# BUSINESS PROBLEM - 2

### BUSINESS PROBLEM: We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

#### stage:1
 HO : average of mary == average of barry
 
 H1 : average of mary <> average of barry

In [18]:
stats.ttest_ind(price.Mary_Price,price.Barry_Price)

Ttest_indResult(statistic=-1.4147436739281787, pvalue=0.17114226132118285)

#### stage 4 conclusion - We failed to recjected null hypothesis,there is a no difference between price quotes

# BUSINESS PROBLEM-3

## BUSINESS PROBLEM: Determine what effect, if any, the reengineering effort had on the incidence behavioral problems and staff turnover. i.e To determine if the reengineering effort changed the critical incidence rate. Is there evidence that the critical incidence rate improved?

#### stage:1
## Defining Parameters
Null Hypothesis,H0 : There is no effect of Reengineering on Critical Incidence Rate.

Alternative Hypothesis,H1 :There is an effect of Reengineering on Critical Incidence Rate.

In [25]:
prior=treatment.CI[treatment.Reengineer=='Prior']
post=treatment.CI[treatment.Reengineer=='Post']

In [23]:
treatment.rename(columns={'VAR4':'TRFF','VAR5':'CI'},inplace=True)

In [27]:
stats.f_oneway(prior,post)

F_onewayResult(statistic=2.650105376271948, pvalue=0.12091989189884142)

Since pvalue is greater than 0.05 ,we cannot reject H0 , ie, there is no effect of Reengineering on Critical Incidence Rate(CI). The CI could not be improved by the Reengineering efforts.

# BUSINESS PROBLEM-4

### BUSINESS PROBLEM: We will focus on the prioritization system. If the system is working, then high priority jobs, on average, should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether this is, in fact, occurring.


## Defining Parameters
Null Hypothesis,H0 : Work is not completed as per the priority scale.

Alternative Hypothesis,Ha :Work is completed as per the priority scale.

In [28]:
high=priority_assessment[priority_assessment.Priority=="High"]
medium=priority_assessment[priority_assessment.Priority=="Medium"]
low=priority_assessment[priority_assessment.Priority=="Low"]
stats.f_oneway(high.Days,medium.Days,low.Days)

F_onewayResult(statistic=1.812311010076072, pvalue=0.16411459461716182)

 stage 4 conclusion - we failed to reject the null hypothesis,there no change in with respect to priority

# BUSINESS PROBLEM-5

## a.What is the overall level of customer satisfaction?

#### stage:1
#### HO : customer satisfaction == 5
#### H1 : customer satisfaction <> 5

In [42]:
films=films.apply(missing_treat)

In [43]:
stats.ttest_1samp(films.Overall,5)

Ttest_1sampResult(statistic=-89.23581000259827, pvalue=1.290517734123711e-232)

In [27]:
films["Overall"].mean()

1.621212121212121

#### stage 4 conclusion - we reject the null hypothesis,we can say that customer satisfaction is different from 5

## b.What factors are linked to satisfaction?

## Checking factors' relation with Satisfaction

In [44]:
stats.pearsonr(films.Sinage,films.Overall)

(0.3821028042239567, 6.501065434766499e-13)

since p value is less than 0.05,Satisfaction vary with sinage maintenance

In [45]:
stats.pearsonr(films.Parking,films.Overall)

(0.5144289487855271, 1.0840276087789895e-23)

since p value is less than 0.05,Satisfaction vary with parking maintenance

In [46]:
stats.pearsonr(films.Clean,films.Overall)

(0.35082227890709217, 5.437550007439627e-11)

since p value is less than 0.05,Satisfaction vary with cleanliness maintenance

In [30]:
films.Gender=np.where(films.Gender=='Male',1,2)
films.Marital_Status=np.where(films.Marital_Status=='Single',1,2)
films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,2,2,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,2,1,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,1,2,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,2,2,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,2,2,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,2,2,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,2,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,2,2,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

## c.What is the demographic profile of Film on the Rocks patrons?

In [48]:

pd.crosstab(films.Movie,films.Income)

Income                   1.0  2.0  3.0
Movie
Ferris Buellers Day Off   54   46   37
Old School                14    7   11
Willy Wonka               74   45   42

In [50]:

pd.crosstab(films.Movie,films.Age)

Age                      1.0  2.0  3.0  4.0
Movie
Ferris Buellers Day Off   12   70   48    7
Old School                 2   20   10    0
Willy Wonka               12   87   59    3

In [47]:
pd.crosstab(films.Movie,films.Sinage)

Sinage                   1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   53   64   19    0    1
Old School                12   13    4    2    1
Willy Wonka               48   81   25    4    3

In [33]:
pd.crosstab(films.Movie,films.Parking)

Parking                  1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   54   66   11    5    1
Old School                17   11    3    0    1
Willy Wonka               64   78   15    2    2

In [34]:
pd.crosstab(films.Movie,films.Clean)

Clean                    1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   61   62   12    2    0
Old School                12   16    3    0    1
Willy Wonka               71   77    9    3    1

In [35]:
pd.crosstab(films.Movie,films.Gender)

Gender                    1    2
Movie
Ferris Buellers Day Off  13  124
Old School                0   32
Willy Wonka               0  161

In [36]:
pd.crosstab(films.Movie,films.Marital_Status)

Marital_Status            1    2
Movie
Ferris Buellers Day Off  18  119
Old School                0   32
Willy Wonka               0  161

In [37]:
pd.crosstab(films.Movie,films.Overall)

Overall                  1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   59   71    4    1    2
Old School                21   10    0    0    1
Willy Wonka               71   81    8    0    1

## d.In what media outlet(s) should the film series be advertised?

In [38]:
to_add=pd.crosstab(films.Movie,films.Hear_About)
to_add

Hear_About                1  1,5  2  2,5  3  3,4  3,5   4  4,5    5  5,4
Movie
Ferris Buellers Day Off  13    1  4    1  4    0    0  17    1   96    0
Old School                1    0  4    0  1    1    0   1    0   24    0
Willy Wonka               8    0  4    1  9    1    1  23    0  113    1

In [51]:
mode=films.Hear_About.mode()[0]
mode

'5'

In [52]:
if mode==1:
    print('Film Series should be advertised more in Television')
elif mode==2:
    print('Film Series should be advertised more in Newspaper')
elif mode==3:
    print('Film Series should be advertised more in Radio')
elif mode==4:
    print('Film Series should be advertised more in Website')
else:
    print('Film Series should be advertised more by word-of-mouth')

Film Series should be advertised more by word-of-mouth