## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [3]:
 5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [24]:
num=int(input('enter the number:'))

if num%2==0:
    print(f'{num} is an even number')
else:
    print(f'{num} is an odd number')

enter the number:345
345 is an odd number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [49]:
num=int(input('enter the number:'))
x=1
while x<=10:
    print(f'{x} times {num} is',num*x)
    x=x+1

enter the number:2
1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10
6 times 2 is 12
7 times 2 is 14
8 times 2 is 16
9 times 2 is 18
10 times 2 is 20

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [61]:
z=[]
for x in range(2000,3201):
    if x%7==0 and x%5!=0:
        z.append(str(x))
w=",".join(z)
print(w)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [56]:
x=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
l=[i for i in x if type(i)==int]
print(f'there are {len(l)}  integers in the list')
x=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
l=[i for i in x if type(i)==str]
print(f'there are {len(l)}  strings in the list')
x=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
l=[i for i in x if type(i)==bool]
print(f'there is {len(l)}  booleans in the list')
x=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
l=[i for i in x if type(i)==float]
print(f'there is {len(l)}  float in the list')
x=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
l=[i for i in x if type(i) not in (int,str,bool,float)]
print(f'there is {len(l)}  none in the list')

there are 5  integers in the list
there are 4  strings in the list
there is 1  booleans in the list
there is 1  float in the list
there is 1  none in the list

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [62]:
x=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
integers=[i for i in x if type(i) in (int,float,bool)]
print(sum(integers))

22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
x= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
str7 = '-'.join([i for i in x if type(i)==str])
print(str7)

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [28]:
def myfunc(l):
    add=sum([i for i in l if type(i)==int or type(i)==float])
    count=len([i for i in l if type(i)==str])
    return({'sum':add,'count_of_strs':count})
myfunc([2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] )

{'sum': 21.5, 'count_of_strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [44]:
print('USING LIST COMPREHENSION')

li=[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd1=[i for i in l if i%2!=0]
print(odd1)


print('________********_________')


print('USING FOR LOOP')

odd2=[]
for i in li:
   
    if i%2!=0:
        odd2.append(i)
print(odd2 )
print('________********_________')

print('USING LAMBDA AND FILTER ')
odd3 = list(filter(lambda x: (x % 2 != 0), li))
print(odd3)

USING LIST COMPREHENSION
[5, 7, 97, 77, 23, 73, 61]
________********_________
USING FOR LOOP
[5, 7, 97, 77, 23, 73, 61]
________********_________
USING LAMBDA AND FILTER
[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [61]:
def myfunc(l3):
    add=sum(l3)
    count=len(l3)
    minimum=min(l3)
    maximum=max(l3)
    mean=add/count
    return [add,count,minimum,maximum,mean]
myfunc([1,2,3,4,5,6,7,8,9,10])

[55, 10, 1, 10, 5.5]

 Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [12]:

def calc_area(shape,**kwargs1):
    result=1
    for k,v in kwargs1.items() :
    
        
        if shape=='square':
            result=(result*v**2)
        elif shape=='circle' :
            result=result*3.14*v**2       
        elif shape=='rectangle' and len(kwargs1)==2:
            result=(result*v)
            
    return result
calc_area('rectangle',l=3,b=4)

12


Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [19]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
s1=set(l1)
s2=set(l2)
def my_func(a,b):
    a=list(s1.intersection(s2))
    b=list(s1-(s1.intersection(s2)))
    c=list(s2-(s1.intersection(s2)))
    return {'matched':a,'only in l1':b,'only in l2':c}
my_func(s1,s2)

{'matched': ['December', 'February', 'January', 'June'],
 'only in l1': ['March', 'May', 'September'],
 'only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [14]:
def prime_func(a):
    for i in range(2,int(a/2)+1):
        if a%i==0:
            print('it is not a prime number')
            break
        
    else:
        print('it is a prime number')
            
prime_func(123)

it is not a prime number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [204]:

x = (input('Enter the Number: '))
def func(x):
    fact = 1 
    for i in range(1,int(x)+1):
        fact = i * fact
        y=fact
   
    return(y)
func(x)

Enter the Number: 8

40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [80]:
num=int(input('enter the number'))
dict1={}
for i in range(1,num+1):
    dict1[i]=i**2
print(dict1)

enter the number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [79]:
data=input()
list1=data.split(",")
string=(str(i) for i in  list1)
y=tuple(string)
print(list1,y)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

yQ17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [115]:
data=input()
list1=data.split(",")
l1=sorted(list1)
string=",".join(l1)
print(string)

without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [20]:
data=input()
list1=data.split()
set1=set(list1)
s2=sorted(set1)
print(" ".join(s2))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [134]:
data=input()
U=0
L=0
for i in  data:
    
    if i.isupper():
        U=U+1
    elif i.islower():
        L=L+1
    else:
        pass
print(f'UPPER CASE {U} LOWER CASE {L} ')

Hello world!
UPPER CASE 1 LOWER CASE 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [84]:
name=input("enter the value ")
print((name[::-1]))

enter the value "abcd123"
"321dcba"